<p id="notice"><%= notice %></p>

<p>
  <b>Data1:</b>
  <%= @column.data1 %>
</p>

<p>
  <b>Data2:</b>
  <%= @column.data2 %>
</p>

<p>
  <b>Data3:</b>
  <%= @column.data3 %>
</p>

<p>
  <b>Data4:</b>
  <%= @column.data4 %>
</p>

<p>
  <b>Table:</b>
  <%= @column.table_id %>
</p>
<h3>Values In columns</h3>
<table>
<tr>
<th>Data1</th>
<th>Data2</th>
<th>Data3</th>
<th>Data4</th>

</tr>
<%for t in @column.rows%>
<tr>
<td><%=t.value1%></td>
<td><%=t.value2%></td>
<td><%= t.value3%></td>
<td><%= t.value4 %></td>
<%end%> 


<%= link_to 'Edit', edit_column_path(@column) %> |
<%= link_to 'Insert values',column_rows_path(@column) %>|
<%= link_to 'Back', columns_path %>
