<p id="notice"><%= notice %></p>

<p>
  <b>Value1:</b>
  <%= @datum.value1 %>
</p>

<p>
  <b>Value2:</b>
  <%= @datum.value2 %>
</p>

<p>
  <b>Value3:</b>
  <%= @datum.value3 %>
</p>

<p>
  <b>Value4:</b>
  <%= @datum.value4 %>
</p>

<p>
  <b>Column:</b>
  <%= @datum.column_id %>
</p>


<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
